
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: white;
}

h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    padding: 20px;
    background-color: aqua;  
    border: solid 2px black;
    border-radius: 10px;
    
}
